.post-image-lable {
    width: 30%;
    // background: conic-gradient(from 45deg, #f9ce34,#ee2a7b,#6228d7,#f9ce34);
    // background-color: #bd0c23;
    background-color: #fff;
    color: #111;
    text-align: center;
    padding-inline: 1rem;
    padding-block: 0.8rem;
    border-radius: 1rem;
    cursor: pointer;
}