.users {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .content {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 0.5rem;

        img {
            width: 2rem;
            aspect-ratio: 1 / 1;
            border-radius: 50%;
            object-fit: cover;
            object-position: top;
        }

        p {
            text-align: center;
        }
    }
}